.feedbackCard {
    min-width: 200px; /* Adjust size as needed */
    height: 300px; /* Adjust size as needed */
  }
  
  .scroll-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
  }
  
  .scroll-button:hover {
    background-color: #00cea8;
  }
  