
.images{
    background-image: url("../../../assets/images/Group74.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
}

.quotes button{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.feature-card-heading{
    box-shadow: rgba(171, 168, 168, 0.16) 0px 3px 6px, rgba(107, 104, 104, 0.23) 0px 3px 6px;
}

.banner1_img{
    background-image: url(../../../assets/images/2868468.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
}

.banner2_img{
    background-image: url(../../../assets/images/2787678.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
}

.banner3_img{
    background-image: url("../../../assets/images/2003.i203.008.virtual relationships online dating cartoon.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
}

.banner4-div{
    background-image: url(../../../assets/images/amorous-couple-posing-outside.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
}