
.images{
    background-image: url(/images/banner_new.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.quotes button:hover{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.feature-card-heading{
    box-shadow: rgba(171, 168, 168, 0.16) 0px 3px 6px, rgba(107, 104, 104, 0.23) 0px 3px 6px;
}

.banner1_img{
    background-image: url(../../../assets/images/2868468.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
}

.banner2_img{
    background-image: url(../../../assets/images/2787678.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
}

.banner3_img{
    background-image: url("../../../assets/images/2003.i203.008.virtual relationships online dating cartoon.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
}

.banner4-div{
    background-image: url(../../../assets/images/amorous-couple-posing-outside.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
}

.banner-landing{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.text-gradient {
    font-size: 4.5rem; /* Adjust the size as needed */
    font-weight: bold; /* Adjust the weight as needed */
    background: linear-gradient(to right top, #B691C2, #B691C2, #fc74a8, #F87282, #F87282);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block; 
  }
  