
.navbar {
    z-index: 100;
    height: 11vh;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}


.login-btn{
    font-family: "font-btn";
    color: #c5964f;
    border: 1px solid #c5964f;
    border-radius: 25px;
}

.navbar button{
    border-radius: 25px;
    font-family: "font-btn";
    font-weight: 500;
    background-color: #c5964f;
    color: #fff;
    border: 1px solid #c5964f;
}

.navbar button:hover{
    background-color: #ffffff;
    color: #c5964f;
    border: 1px solid #c5964f;
}

.login-btn:hover{
    background-color: #c5964f;
   color: white;
}

.logo-div{
    background-image: url("/images/logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-profile-icon{
    background-image: url("/images/profile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    opacity: 1;
}

