.view-matches-header{
    background-image: url("../../../src/assets/images/copy-space-groom-accessories.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}