.nav{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    background-color: #fff;
}

.search-div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.email{
    display: none;
}

.profile:hover .email{
    display: block;
}

.table-container{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.payment-tabs{
    box-shadow: rgba(10, 10, 10, 0.1) 0px 1px 0px;
    color: rgba(128, 128, 128, 0.885);
}
.payment-tabs :focus{
    color: gray;
}
.payment-tabs button{
    width: 10rem;
}
.active-tab{
    border-bottom: 5px solid #E7C68F;
    padding-bottom: 5px;
}