/* Table.css */


table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2eade;
    color: #333;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #F3F6F7;
  }
  
  /* Additional styles for the image */
  th img {
    max-width: 100%;
    height: auto;
  }
  