/* Table.css */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }
  
  /* Additional styles for the image */
  th img {
    max-width: 100%;
    height: auto;
  }
  