@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "font-btn";
    src: url('./assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf') format('truetype'); ;
}

@font-face {
    font-family: "poppins";
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: "roboto";
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "montserrat";
    src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: "varela";
    src: url('./assets/fonts/Varela_Round/VarelaRound-Regular.ttf');
}

@font-face {
    font-family: "lexend_Deca";
    src: url('./assets/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf');
}

@font-face {
    font-family: "rubik";
    src: url('./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf');
}


:root{
    --background-color: #f6f6f6;
    --foreground-color: #003cff;
    --primary-text-color: #0a0a0a;
    --secondary-text-color: #ffffff;

}

.toggle {
    position: relative;
    box-sizing: border-box;
}
.toggle input[type="checkbox"] {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
.toggle label {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.toggle label:before {
    content: "";
    width: 55px;
    height: 30px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: inset -30px 0 0 #666;
    position: relative;
    display: inline-block;
    border-radius: 22px;
    box-sizing: border-box;
    transition: 0.2s ease-in;  
}

.toggle label:after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 5px;
    top: 7px;
    border-radius: 50%;
    background: #fffdfd;
    box-shadow: inset -8px -5px #333;
    transition: 0.2s ease-in-out;
}

.toggle input[type="checkbox"]:checked + label:before {
    box-shadow: inset 30px 0 0 #DFE5E7;
}
.toggle input[type="checkbox"]:checked + label:after {
    box-shadow: inset 0 0 0 1px #fff;
    background: #ffbc00;
    left: 34px;
    top: 8px;
    border: 2px dashed #fff;
}

[dark-theme] {
    --background-color: #0a0a0a;
    --foreground-color: #567aff;
    --primary-text-color: #ffffff;
    --secondary-text-color: #0a0a0a;
}
  