.banner{
    height: 90vh;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.images{
    background-image: url(/public/images/banner_new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.banner-quote{
    font-weight: 500px;
}

.banner-2-quote{
    font-size: 3rem; /* Adjust the size as needed */
    font-weight: bold; /* Adjust the weight as needed */
    background: linear-gradient(to right top, #B691C2, #B691C2, #fc74a8, #F87282, #F87282);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block; 
}