.banner{
    position: absolute;
    top: 0;
    z-index: -1;
    min-height: 100vh;
    width: 100vw;
    background-image: url(/public/images/3298288.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 700px) {
    .banner {
        background-position: -400px 0;
    }
}

@media (min-width: 701px) and (max-width: 1000px) {
    .banner {
        background-position: -100px 0;
    }
}

@media (max-width: 1001px) and (min-width: 1399px) {
    .banner {
        background-position: 0 0;
    }
}


@media (min-width: 1400px){
    .banner {
        background-position: 0 -11rem;
    }
}


.banner-quote{
    font-weight: 500px;
}

